---
layout: default
---

{{content}}

<div class="container">
	<iframe id="my-media" src="https://youtube.com/embed/WIC1pE9YLtM" referrerpolicy="no-referrer-when-downgrade" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
	<div class="carousel">
		<input type="radio" name="slides" checked="checked" id="slide-1">
		<input type="radio" name="slides" id="slide-2">

		<ul class="carousel__slides">
			<li class="carousel__slide">
				<figure>
					<div>
						<img src="/assets/img/magpie_top.svg" alt="MIDI Magpie top">
					</div>
				
				</figure>
			</li>
			<li class="carousel__slide">
				<figure>
					<div>
						<img src="/assets/img/magpie_front.svg" alt="MIDI Magpie front">
					</div>

				</figure>
			</li>
	  
		</ul>    
		<ul class="carousel__thumbnails">
			<li>
				<label for="slide-1"><img src="/assets/img/magpie_top.svg" alt="thumbnail"></label>
			</li>
			<li>
				<label for="slide-2"><img src="/assets/img/magpie_front.svg" alt="thumbnail"></label>
			</li>

	</div>
</div>
<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  class="centered"
  buy-button-id="buy_btn_1PwD55IFo4awtgbrMDrZslSG"
  publishable-key="pk_live_51PTDQwIFo4awtgbrtpmA5fniSvR5lc6r654a5YE2NZ2pabN4jVzxeosBPEpE29GT8u2NVjzWXCKzlyhZAvVz1DGe00xj80xOnP"
>
</stripe-buy-button>
<h3 class="centered">Other places to buy</h3>
<a class="centered" href="https://www.amazon.com/MIDI-MAGPIE-real-time-audio-converter/dp/B0DP18JHFH/ref=sr_1_1?crid=2HP9RWS50B2FD&dib=eyJ2IjoiMSJ9.gGyk-tFFi3cjr8vbREd4zg.JXerc9nDnRiz606h6Ryis_gl8ilkOISPvq2Rgk7Q8WE&dib_tag=se&keywords=midi+magpie&qid=1732661493&sprefix=mini+magpie%2Caps%2C142&sr=8-1">
Amazon
</a>

